@model AdventureWorksUI.DTO.IllustrationViewModel

@{
    ViewData["Title"] = "Illustration Details";
}

<h2>Illustration Details</h2>

<div class="form-group">
    <label for="Diagram">Diagram</label>
    <textarea id="Diagram" name="Diagram" class="form-control" rows="5" readonly>@Model.Diagram</textarea>
</div>

<div class="form-group mt-2">
    <label for="ModifiedDate">Modified Date</label>
    <input type="date" id="ModifiedDate" name="ModifiedDate" value="@Model.ModifiedDate.ToString("yyyy-MM-dd")" class="form-control" readonly />
</div>

<a href="@Url.Action("Index")" class="btn btn-secondary mt-3">Back to List</a>

